.page-header
	position: relative
	width: 100%
	min-height: 100%
	text-align: center
	overflow: hidden
	+multiple-box-shadow(inset 0 3px 3px -2px $section-shadow, inset 0 -3px 3px -2px $section-shadow)

	&__bg
		position: absolute
		min-width: 100%
		min-height: 100%
		// NOTE: Background images are set within the HTML (YAML Front Matter) using inline CSS!
		background-size: cover
		background-position: center 0
		background-repeat: no-repeat
		background-attachment: fixed

		&_blurred
			filter: url(../img/blur.svg#blur)
			-webkit-filter: blur(5px)
			filter: blur(5px)
			filter: unquote("progid:DXImageTransform.Microsoft.Blur(PixelRadius='5')")

	&__title
		color: $jumbo-text
		font-family: $font-sans
		font-weight: 800
		text-shadow: 1px 1px 1px $header-shadow

	&__descr
		color: $jumbo-text
		font-family: $font-condensed
		text-shadow: 1px 1px 1px $header-shadow

	&__icon
		margin: 75px auto 30px

	&_post
		text-align: left
