:verbatim
	---
	layout: default
	---

//- Post Home
.overlay.overlay_home(style="background-image: url('{{ site.baseurl }}/{% if page.home_img %}{{ page.home_img }}{% else %}{{ site.home_img }}{% endif %}')")
	section#home.post-home
		.container
			h1.post-home__title(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| {{ page.title }}
			| {% if page.subtitle %}
			h2.post-home__subtitle(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| {{ page.subtitle }}
			| {% endif %}
			a(class="icon icon_down {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} home__icon js-anchor", href='#main', title='Let`s go!') Let`s go!

//- Main Content
div#main.main
	.container
		article.post
			| {{ content }}	

			p.post__meta 
				| {% if page.translator %}
				| Author: 
				span.post__meta-author {{ page.author }}
				| , translator: 
				span.post__meta-translator {{ page.translator }}
				| {% else %}
				| Author: 
				span.post__meta-author {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
				| {% endif %}, published: 
				time.post-preview__meta-date(datetime="{{ page.date | date: '%Y-%m-%d' }}") {{ page.date | date: "%B %-d, %Y" }}
				| {% if page.labels %}
				br
				| Labels:
				| {% for label in page.labels %} 
				span.post__meta-tag {{ label }}
				| {% unless forloop.last %}, {% endunless %}
				| {% endfor %}
				| {% endif %}
			hr.post-divider
			
		nav.pager
			ul
				| {% if page.previous.url %}
				li.pager__item.pager__item_previous
					a.pager__link(href="{{page.previous.url | prepend: site.baseurl | replace: '//', '/'}}", title='{{page.previous.title}}') &lsaquo; Previous post
				| {% endif %}
				| {% if page.next.url %}
				li.pager__item.pager__item_next
					a.pager__link(href="{{page.next.url | prepend: site.baseurl | replace: '//', '/'}}", title='{{page.next.title}}') Next post &rsaquo;
				| {% endif %}
				
		.comments
			{% include disqus.html %}

//- Post End
.overlay(style="background-image: url('{{ site.baseurl }}/{% if page.end_img %}{{ page.end_img }}{% else %}{{ site.end_img }}{% endif %}')")
	section#end.end
		.container
			h2.end__title(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| Let's get in touch!
			h3.end__subtitle(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| If you have any questions, please do not hesitate to contact me

			nav.social
				ul
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_rss", href="{{ '/feed.xml' | prepend: site.baseurl }}", title='RSS feed') News feed
					| {% if site.twitter_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_twitter", href='https://twitter.com/{{ site.twitter_username }}', title='My Twitter') Follow me on twitter
					| {% endif %}
					| {% if site.fb_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_fb", href='https://www.facebook.com/{{ site.fb_username }}', title='I`m on Facebook') My Facebook
					| {% endif %}
					| {% if site.gplus_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_gplus", href='https://plus.google.com/u/0/{{ site.gplus_username }}?rel=author', title='My Google+') Maxim Orlov on Google+
					| {% endif %}
					| {% if site.email %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_mail", href='mailto:{{ site.email }}', title='Shoot an email to mail@orlovmax.com') mail@orlovmax.com
					| {% endif %}
					| {% if site.skype_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_skype", href='skype:{{ site.skype_username }}?add', title='My Skype') Add me to Skype contacts
					| {% endif %}
					| {% if site.github_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_git", href='https://github.com/{{ site.github_username }}', title='My Github') My projects on github
					| {% endif %}
					| {% if site.bitbucket_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_bitbucket", href='https://bitbucket.org/{{ site.bitbucket_username }}', title='My Bitbucket') Some of my projects on Bitbucket
					| {% endif %}
					| {% if site.linkedin_username %}
					li.social__item
						a(class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_linkedin", href='https://linkedin.com/in/{{ site.linkedin_username }}', title='My Linkedin') My Linkedin profile
					| {% endif %}