//- This is a completions for common used blocks that were turned into mixins
//- with ability to add some modifiers

include blocks/comments
include blocks/divider
include blocks/hero_end_share
include blocks/hero_end_social
include blocks/hero_start_page
include blocks/hero_start_post
include blocks/hgroup
include blocks/languages
include blocks/main-footer
include blocks/main-header
include blocks/nav
include blocks/paginator_page
include blocks/paginator_post
include blocks/paginator_taxonomy
include blocks/post-meta
include blocks/post-meta_preview
include blocks/post-preview
include blocks/search
include blocks/share
include blocks/social
include blocks/year-posts
