//- Site navigation
mixin nav()
	+b('nav').nav.js-nav
		+e('ul').list
			//- We can add page menu items from data *.yml
			| {% for item in site.data.nav %}
			| {% if item.internal %}
			| {% if item.submenu != null %}
			+e.item
				+e.submenu-title {{ item.name }}
				+e('ul').list_sub
					| {% for subitem in item.submenu %}
					+e.item_sub
						+e.link(href="{{ site.baseurl | append: subitem.internal | replace: '//', '/' }}") {{ subitem.name }}
					| {% endfor %}
			| {% else %}
			+e.item
				+e.link(href="{{ site.baseurl | append: item.internal | replace: '//', '/' }}") {{ item.name }}
			| {% endif %}
			| {% elsif item.external %}
			| {% if item.submenu != null %}
			+e.item
				+e.submenu-title {{ item.name }}
				+e('ul').list_sub
					| {% for subitem in item.submenu %}
					+e.item_sub
						+e.link(href="{{ subitem.external }}") {{ subitem.name }}
					| {% endfor %}
			| {% else %}
			+e.item
				+e.link(href="{{ item.external }}") {{ item.name }}
			| {% endif %}
			| {% endif %}
			| {% endfor %}

			//- Or we can add them from site pages if page `menu` option is true
			| {% for page in site.pages %}
			| {% if page.menu %}
			+e.item
				+e.link(href="{{ site.baseurl | append: page.url | replace: '//', '/' }}") {{ page.title }}
			| {% endif %}
			| {% endfor %}
