extends ../layouts/base

block front-matter
	:verbatim
		---
		title: "Archive"
		description: "All publications"
		start_img: "static/images/page/archive/meta/start.jpg"
		start_blur: true
		end_img: "static/images/page/archive/meta/end.jpg"
		end_blur: true
		color: light
		regenerate: true
		---

//- I don't think that default layout is so necessary for jekyll generating
//- So we can apply it with JADE template engine and minimize count of build steps
block main-content
	section.page
		// Page start
		+hero_start_page()

		// Page content from *.md
		#start.container.container_page
			+year-posts()

	// Page End
	+hero_end_social()
		+social()
