// Common typo elements
h1, h2, h3, h4, h5, h6
	margin-bottom: 10px
	font-weight: 400
	line-height: 1.2


h1
	font-size: 72px
	line-height: 1.1
	@media screen and (max-width: 960px)
		font-size: 60px
		line-height: 1.0
	@media screen and (max-width: 600px)
		font-size: 48px
		line-height: 1.0


h2
	font-size: 48px
	@media screen and (max-width: 960px)
		font-size: 40px
	@media screen and (max-width: 600px)
		font-size: 32px


h3
	font-size: 32px
	@media screen and (max-width: 960px)
		font-size: 28px
	@media screen and (max-width: 600px)
		font-size: 24px


h4
	font-size: 24px
	@media screen and (max-width: 960px)
		font-size: 22px
	@media screen and (max-width: 600px)
		font-size: 20px


h5
	font-size: 20px
	@media screen and (max-width: 960px)
		font-size: 18px
	@media screen and (max-width: 600px)
		font-size: 16px


h6
	font-size: 16px
	@media screen and (max-width: 600px)
		font-size: 14px


p
	margin-bottom: 15px
	font-size: 20px
	line-height: 1.4
	font-weight: 300
	@media screen and (max-width: 960px)
		font-size: 18px
	@media screen and (max-width: 600px)
		font-size: 16px


a
	text-decoration: underline
	color: $c-link

	&:hover
		color: $c-link_hover
		text-decoration: none

	&:focus
		outline: 0


.typo


	&_center
		text-align: center


	&_left
		text-align: left


	&_right
		text-align: right


	&_justify
		text-align: justify


	&_sans
		font-family: $f-typo_sans


	&_serif
		font-family: $f-typo_serif


	&_condensed
		font-family: $f-typo_condensed


	&_muted
		color: $c-typo_muted


	&_shadow
		text-shadow: 1px 1px 1px $c-typo_shadow


.inclusion
	color: $accent-color
	white-space: nowrap
	&:hover
		color: $accent-color
		text-decoration: none
	&:focus
		outline: 0
	&:before
		content: "\e81b"
		display: inline-block
		font-family: "inclusion"
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		font-size: 70%
		vertical-align: middle
		color: $accent-color
