// Common element mixin
=common-elem($position)

	@if $position == "center"
		clear: both
		width: 90%
		max-width: 90%
		margin: 10px auto 20px

	@else if $position == "left"
		width: 47%
		max-width: 47%
		float: left
		margin: 10px 3% 10px 0
		@media screen and (max-width: 800px)
			float: none
			clear: both
			width: 90%
			max-width: 90%
			margin: 10px auto 20px

	@else if $position == "right"
		width: 47%
		max-width: 47%
		float: right
		margin: 10px 0 10px 3%
		@media screen and (max-width: 800px)
			float: none
			clear: both
			width: 90%
			max-width: 90%
			margin: 10px auto 20px


=common-elem-extra($position)

	@if $position == "center"
		width: 100%
		width: calc(100% + 240px)
		max-width: 100%
		max-width: calc(100% + 240px)
		margin-left: calc(-120px)
		@media screen and (max-width: 960px)
			width: 100%
			width: calc(100% + 120px)
			max-width: 100%
			max-width: calc(100% + 120px)
			margin-left: calc(-60px)
		@media screen and (max-width: 800px)
			width: 100%
			max-width: 100%
			margin-left: auto

	@else if $position == "left"
		margin-left: -120px
		@media screen and (max-width: 960px)
			margin-left: -60px
		@media screen and (max-width: 800px)
			width: 100%
			max-width: 100%
			margin-left: auto

	@else if $position == "right"
		margin-right: -120px
		@media screen and (max-width: 960px)
			margin-right: -60px
		@media screen and (max-width: 800px)
			width: 100%
			max-width: 100%
			margin-right: auto
