// Common button
.button
	display: block
	background-color: transparent
	-webkit-border-radius: 0
	border-radius: 0
	border: 1px solid
	border-color: $c-button_border
	font-family: $f-button_general
	line-height: 1
	text-decoration: none
	text-align: center
	color: $c-button_text
	transition: all .2s

	&:hover
		border-color: $c-button_border_hover
		color: $c-button_text_hover


	&_small
		min-width: 150px
		max-width: 200px
		min-height: 30px
		padding: 2px 4px
		font-size: 18px


	&_regular
		min-width: 200px
		max-width: 250px
		min-height: 40px
		padding: 4px 8px
		font-size: 22px


	&_large
		min-width: 250px
		max-width: 300px
		min-height: 50px
		padding: 8px 16px
		font-size: 26px


	&_disabled
		border-color: $c-button_border_disabled
		color: $c-button_text_disabled
		cursor: not-allowed
		opacity: .5

		&:hover
			color: $c-button_text_disabled


	&_center
		margin: 5px auto


	&_left
		float: left
		margin: 5px 3% 5px 0


	&_right
		float: right
		margin: 5px 0 5px 3%


// Iconic buttons
.icon
	display: block
	width: 50px
	height: 50px
	text-align: center
	overflow: hidden
	font-size: 0
	text-decoration: none
	border: 2px solid $c-icon_border
	color: $c-icon_color
	transition: all .5s
	transform: rotate(45deg)

	&:after
		display: inline-block
		font-family: "inclusion"
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		font-size: 30px
		line-height: 45px
		color: $c-icon_color
		transform: rotate(-45deg)
		transition: all .5s

	&:hover
		transform: rotate(0deg)

		&:after
			transform: rotate(0deg)


	&_light
		color: $c-icon_color_light
		border-color: $c-icon_border_light

		&:after
			color: $c-icon_color_light

	&_dark
		color: $c-icon_color_dark
		border-color: $c-icon_border_dark

		&:after
			color: $c-icon_color_dark

	@function unicode($str)
		@return unquote("\"") + $str + unquote("\"")

	@each $icon in $icons
		&_#{nth($icon, 1)}
			&:after
				content: unicode(nth($icon, 2))
