.block
	+clearfix()

	&_center
		+common-elem(center)

		&-extra
			+common-elem-extra(center)


	&_left
		+common-elem(left)

		&-extra
			+common-elem-extra(left)


	&_right
		+common-elem(right)

		&-extra
			+common-elem-extra(right)


	&_spoiler
		position: relative
		padding: 0 20px 10px
		overflow: hidden
		text-align: left
		background-color: $c-spoiler_bg
		border: 1px solid $c-spoiler_border

		&:after
			content: ""
			display: block
			position: absolute
			width: 100%
			height: 50px
			top: 0
			left: 0
			background-color: $c-spoiler_head_bg

		&:hover
			&:after
				background-color: $c-spoiler_head_bg_hover

		&:before
			content: ""
			display: block
			position: relative
			width: 100%
			height: 0
			top: 0
			left: 0
			margin-bottom: 60px

		& > a
			position: absolute
			display: block
			width: 100%
			height: 50px
			top: 10px
			left: 20px
			z-index: 1
			font-family: $f-spoiler_general
			text-decoration: none
			font-size: 25px
			line-height: 1
			white-space: nowrap
			color: $c-spoiler_head_text

			&:before
				content: "\e819"
				display: inline-block
				margin-right: 10%
				font-family: "inclusion"
				font-style: normal
				font-weight: normal
				font-variant: normal
				text-transform: none
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
				color: $c-spoiler_head_text

		&.is-closed
			height: 50px

			& > a

				&:before
					content: "\e816"
