<!-- Footer -->
footer.main-footer
	.container		
		h5
			| Designed and coded by 
			a(href='http://orlovmax.com') Maxim Orlov
			|  under 
			a(href='http://opensource.org/licenses/MIT', rel='nofollow') MIT
			|  license 
			br 
			| Copyright © {{ site.url | replace: 'http://', '' }} - {{ site.time | date: '%Y' }}

		p 
			| Based on 
			a(href='http://jekyllrb.com', rel='nofollow') Jekyll
			| , designed with  
			a.inclusion(href='http://orlovmax.com/lab/tools/inclusion') Inclusion
			br 
			| Powered by 
			a(href='http://gruntjs.com', rel='nofollow') Grunt
			| , hosted on  
			a(href='{{ site.home-repo }}', rel='nofollow') Github