head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}
	meta(name="description", content="{% if page.subtitle %}{{ page.subtitle }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}")
	meta(name="keywords", content="{% if page.labels %}{% for label in page.labels %}{{ label }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% elsif page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="canonical", href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")
	<!--Opengraph-->
	meta(property="og:type", content="website")
	meta(property="og:title", content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}")
	meta(property="og:description", content="{% if page.subtitle %}{{ page.subtitle }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}")
	meta(property="og:image", content="{% if page.thumb_img %}{{ page.thumb_img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.thumb_img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% endif %}")
	meta(property="og:url", content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")
	<!--TwitterCard-->
	{% if site.twitter_username %}
	meta(name="twitter:card", content="summary")
	meta(name="twitter:title", content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}")
	meta(name="twitter:description", content="{% if page.subtitle %}{{ page.subtitle }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}")
	meta(name="twitter:image:src", content="{% if page.thumb_img %}{{ page.thumb_img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.thumb_img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% endif %}")
	meta(name="twitter:creator", content="{{ site.twitter_username }}")
	meta(name="twitter:site", content="{{ site.twitter_username }}")
	meta(name="twitter:url", content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")
	{% endif %}

	link(rel="shortcut icon", href="{{ '/favicon.ico' | prepend: site.baseurl }}")
	link(rel="shortcut icon", href="{{ '/img/ico/favicon.png' | prepend: site.baseurl }}", type="image/x-icon")
	link(rel="apple-touch-icon-precomposed", sizes="144x144", href="{{ '/img/ico/apple-touch-icon-144x144-precomposed.png' | prepend: site.baseurl }}")
	link(rel="apple-touch-icon-precomposed", sizes="114x114", href="{{ '/img/ico/apple-touch-icon-114x114-precomposed.png' | prepend: site.baseurl }}")
	link(rel="apple-touch-icon-precomposed", sizes="72x72", href="{{ '/img/ico/apple-touch-icon-72x72-precomposed.png' | prepend: site.baseurl }}")
	link(rel="apple-touch-icon-precomposed", href="{{ '/img/ico/apple-touch-icon-precomposed.png' | prepend: site.baseurl }}")

	// OpenSans and OpenSans Condensed from Google cdn
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800|Open+Sans+Condensed:300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
	
	// CSS3 media queries and HTML5 tags support for old IE
	<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script><script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><![endif]-->
	<!-- Or you can use these two scripts from local folder, dont forget for conditional comments for old IE
	<script src="{{ '/js/ie/ie.min.js' | prepend: site.baseurl }}"></script> -->

	// Main stylesheet
	<!-- build:css {{ '/css/screen.min.css' | prepend: site.baseurl }} -->
	link(rel="stylesheet", href="{{ '/css/screen.css' | prepend: site.baseurl }}")
	<!-- /build -->

	// Browser update screen styles
	<!--[if lt IE 8]><link rel="stylesheet" href="{{ '/css/ie-out.min.css' | prepend: site.baseurl }}"><![endif]-->

	// Page refresh script for live coding
	<!-- build:remove -->
	script(src="{{ '/js/live.js' | prepend: site.baseurl }}")
	<!-- /build -->