extends ../../layouts/base

block front-matter
	:verbatim
		---
		start_img: 'static/images/page/category/meta/start.jpg'
		start_blur: true
		end_img: 'static/images/page/category/meta/end.jpg'
		color: light
		regenerate: true
		---

//- I don't think that default layout is so necessary for jekyll generating
//- So we can apply it with JADE template engine and minimize count of build steps
block main-content
	section.page
		// Page start
		+hero_start_page()

		// Page content
		#start.container.container_page
			// Post preview list
			| {% for post in paginator.posts %}
			+post-preview()
				+post-meta_preview()
			+divider()
			| {% endfor %}

			// Pagination
			+paginator_taxonomy()

	// Page End
	+hero_end_social()
		+social()
