---
layout: default
---

<div style="background-image: url('{{ site.baseurl }}/{% if page.home_img %}{{ page.home_img }}{% else %}{{ site.home_img }}{% endif %}')" class="overlay overlay_home">
  <section id="home" class="post-home">
    <div class="container">
      <h1 style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}" class="post-home__title">{{ page.title }}</h1>{% if page.subtitle %}
      <h2 style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}" class="post-home__subtitle">{{ page.subtitle }}</h2>{% endif %}<a href="#main" title="Let`s go!" class="icon icon_down {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} home__icon js-anchor">Let`s go!</a>
    </div>
  </section>
</div>
<div id="main" class="main">
  <div class="container">
    <article class="post">{{ content }}	
      <p class="post__meta">
        {% if page.translator %}
        Author: <span class="post__meta-author">{{ page.author }}</span>, translator: <span class="post__meta-translator">{{ page.translator }}</span>{% else %}
        Author: <span class="post__meta-author">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span>{% endif %}, published: 
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="post-preview__meta-date">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.labels %}<br/>Labels:
        {% for label in page.labels %} <span class="post__meta-tag">{{ label }}</span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        {% endif %}
      </p>
      <hr class="post-divider"/>
    </article>
    <nav class="pager">
      <ul>{% if page.previous.url %}
        <li class="pager__item pager__item_previous"><a href="{{page.previous.url | prepend: site.baseurl | replace: '//', '/'}}" title="{{page.previous.title}}" class="pager__link">&lsaquo; Previous post</a></li>{% endif %}
        {% if page.next.url %}
        <li class="pager__item pager__item_next"><a href="{{page.next.url | prepend: site.baseurl | replace: '//', '/'}}" title="{{page.next.title}}" class="pager__link">Next post &rsaquo;</a></li>{% endif %}
      </ul>
    </nav>
    <div class="comments">{% include disqus.html %}</div>
  </div>
</div>
<div style="background-image: url('{{ site.baseurl }}/{% if page.end_img %}{{ page.end_img }}{% else %}{{ site.end_img }}{% endif %}')" class="overlay">
  <section id="end" class="end">
    <div class="container">
      <h2 style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}" class="end__title">Let's get in touch!</h2>
      <h3 style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}" class="end__subtitle">If you have any questions, please do not hesitate to contact me</h3>
      <nav class="social">
        <ul>
          <li class="social__item"><a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS feed" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_rss">News feed</a></li>{% if site.twitter_username %}
          <li class="social__item"><a href="https://twitter.com/{{ site.twitter_username }}" title="My Twitter" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_twitter">Follow me on twitter</a></li>{% endif %}
          {% if site.fb_username %}
          <li class="social__item"><a href="https://www.facebook.com/{{ site.fb_username }}" title="I`m on Facebook" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_fb">My Facebook</a></li>{% endif %}
          {% if site.gplus_username %}
          <li class="social__item"><a href="https://plus.google.com/u/0/{{ site.gplus_username }}?rel=author" title="My Google+" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_gplus">Maxim Orlov on Google+</a></li>{% endif %}
          {% if site.email %}
          <li class="social__item"><a href="mailto:{{ site.email }}" title="Shoot an email to mail@orlovmax.com" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_mail">mail@orlovmax.com</a></li>{% endif %}
          {% if site.skype_username %}
          <li class="social__item"><a href="skype:{{ site.skype_username }}?add" title="My Skype" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_skype">Add me to Skype contacts</a></li>{% endif %}
          {% if site.github_username %}
          <li class="social__item"><a href="https://github.com/{{ site.github_username }}" title="My Github" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_git">My projects on github</a></li>{% endif %}
          {% if site.bitbucket_username %}
          <li class="social__item"><a href="https://bitbucket.org/{{ site.bitbucket_username }}" title="My Bitbucket" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_bitbucket">Some of my projects on Bitbucket</a></li>{% endif %}
          {% if site.linkedin_username %}
          <li class="social__item"><a href="https://linkedin.com/in/{{ site.linkedin_username }}" title="My Linkedin" class="icon {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} icon_linkedin">My Linkedin profile</a></li>{% endif %}
        </ul>
      </nav>
    </div>
  </section>
</div>