.block {
   
   &_center{
      @include common-elem(center);
      
      &-extra{
         @include common-elem-extra(center);
      }
   }
   &_left{
      @include common-elem(left);
      
      &-extra{
         @include common-elem-extra(left);
      }
   }
   &_right{
      @include common-elem(right);
      
      &-extra{
         @include common-elem-extra(right);
      }
   }

   &_spoiler{
      position: relative;
      padding: 0 20px 10px;
      overflow: hidden;
      text-align: left;
      background-color: $spoiler-bg;
      border: 1px solid $spoiler-border;
      
      &:after{
         content: "";
         display: block;
         position: absolute;
         width: 100%;
         height: 50px;
         top: 0;
         left: 0; 
         background-color: $spoiler-head-bg;              
      }
      &:hover{
         &:after{
            background-color: $spoiler-head-bg-hover;
         }
      }
      &:before{
         content: "";
         display: block;
         position: relative;
         width: 100%;
         height: 0;
         top: 0;
         left: 0;
         margin-bottom: 60px;               
      }
      &>a{
         position: absolute;
         display: block;
         width: 100%;
         height: 50px;
         top: 10px;
         left: 20px;     
         z-index: 1;
         font-family: $font-condensed;
         text-decoration: none;
         font-size: 25px;
         line-height: 1;
         white-space: nowrap;
         color: $spoiler-head-text;
         
         &:before{
            content: "\e803";
            display: inline-block; 
            margin-right: 10%;
            font-family: "inclusion";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;            
            color: $spoiler-head-text;
         }
      }
      &.is-closed{
         height: 50px;
         &>a{
            &:before{                  
               content: "\e802";
            }
         }
      }
   }
}