html, body
	width: 100%
	height: 100%

*::selection
	color: $selection-color
	background: $selection-bg

*::-moz-selection
	color: $selection-color
	background: $selection-bg

body
	background: $body-bg url($body-pattern) fixed repeat
	font-family: $font-sans
	color: $body-text
	text-align: left

.overlay
	position: relative
	width: 100%
	// NOTE: Background images are set within the HTML (YAML Front Matter) using inline CSS!
	background-position: center 0
	background-repeat: no-repeat
	background-attachment: fixed
	+bg-size(cover)
	+multiple-box-shadow(inset 0 3px 3px -2px $section-shadow, inset 0 -3px 3px -2px $section-shadow)

.container
	+clearfix
	position: relative
	max-width: 1200px
	margin: 0 auto
	padding: 10px 120px
	overflow: hidden
	@media screen and (max-width: 960px)
		padding: 10px 60px
	@media screen and (max-width: 640px)
		padding: 10px 0
		-ms-overflow-y: hidden
		overflow-y: hidden
