// Post preview
.post-preview
	clear: both
	+clearfix


	&__thumbnail
		position: relative
		display: block
		float: left
		width: 220px
		height: 220px
		margin: 0 30px 30px 0
		overflow: hidden
		@media screen and (max-width: 800px)
			float: none
			width: 100%
			height: auto
			margin: 0 auto 10px
			overflow: visible


	&__image
		position: absolute
		display: block
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		@media screen and (max-width: 800px)
			position: relative
			top: auto
			left: auto
			width: 100%
			max-width: 100%
			height: auto
			transform: translate(0,0)

		&.is-vertical
			width: 100%
			max-width: 100%
			@media screen and (max-width: 800px)
				width: auto

		&.is-horizontal
			height: 100%
			max-height: 100%
			@media screen and (max-width: 800px)
				height: auto


	&__link
		text-decoration: none


	&__title
		font-family: $f-post-preview_title
		color: $c-post-preview_title
		font-weight: 600
		margin-left: 250px
		@media screen and (max-width: 800px)
			margin: auto


	&__descr
		font-family: $f-post-preview_descr
		color: $c-post-preview_descr
		margin-left: 250px
		@media screen and (max-width: 800px)
			margin: auto
