extends default
block front-matter
	:verbatim
		---
		header_img: "img/bg/cat-home.jpg"
		end_img: "img/bg/cat-end.jpg"
		color: light
		type: taxonomy
		---

//- I don't think that default layout is so necessary for jekyll generating
//- So we can apply it with JADE template engine and minimize count of build steps
block content
	main.main(role='main')
		section.page
			// Page home
			+page-header()

			// Page content from *.md
			#start.container.container_page
				// Post preview list
				| {% for post in paginator.posts %}
				+post-preview()
					+post-meta()
				| {% endfor %}

				// Pagination
				+paginator()

		// Page End
		+page-end
			+social()
