:verbatim
	---
	layout: page
	home_img: "img/bg/cat-home.jpg"
	end_img: "img/bg/cat-end.jpg"
	color: light
	type: taxonomy
	---

// Post preview list
.post-list
	include ../../components/post-preview

// Pagination
include ../../components/paginator
