//- Mixins:
//- bemto mixin for Jade and BEM magic
include ../../helpers/mixins

//- Common used mixin-blocks
include ../../components/blocks

//- This block will be filled with required variables
block front-matter

| {% strip %}
doctype html
html(lang='{{ site.lang }}')
	head
		// Meta information
		include ../../components/general/meta

		// Head external resources
		include ../../components/general/head-src

	body
		// Main Header
		+main-header()
			+nav()
			+search()
			+hgroup()
				+languages()

		// Main content
		block content


		// Main footer
		+main-footer()

		// Browser update screen
		+ie-out()

		// Body external resources
		include ../../components/general/body-src
| {% endstrip %}
