:verbatim
	---
	layout: default
	type: page
	---

// Main Content
main.main(role='main')
	// Page Home
	include ../../components/home-section

	section#content.content
		.container
			| {{ content }}

// Page End
include ../../components/end-section
