extends default
block front-matter
	:verbatim
		---
		color: light
		type: page
		---

//- I don't think that default layout is so necessary for jekyll generating
//- So we can apply it with JADE template engine and minimize count of build steps
block content
	main.main(role='main')
		section.page
			// Page home
			+page-header()

			// Page content from *.md
			#start.container.container_page
				| {{ content }}

		// Page End
		+page-end
			+social()
