extends default
block front-matter
	:verbatim
		---
		color: light
		type: post
		---

//- I don't think that default layout is so necessary for jekyll generating
//- So we can apply it with JADE template engine and minimize count of build steps
block content
	main.main(role='main')
		article.post
			// Post home
			+page-header()._post

			// Post content from *.md
			#start.container.container_post
				| {{ content }}

				// Post meta information
				+post-meta()

				// Pagination
				+paginator()

				// Comments
				+comments()

		// Page End
		+page-end_share
			+share()
