:verbatim
	---
	layout: default
	type: post
	---

// Main Content
main.main(role='main')
	// Page Home
	include ../../components/home-section


	article#content.content
		.container
			| {{ content }}

			// Post meta information
			include ../../components/post-meta

			// Pagination
			include ../../components/paginator

			// Comments
			include ../../components/comments

// Page End
include ../../components/end-section
