:verbatim
	---
	layout: page
	type: post
	---

article.post
	| {{ content }}

	// Post meta information
	include ../../components/post-meta

// Pagination
include ../../components/paginator

// Comments
include ../../components/comments
