:verbatim
	---
	layout: page
	header_img: "img/bg/tag-home.jpg"
	end_img: "img/bg/tag-end.jpg"
	color: light
	---

// Post preview list
.post-list
	include ../../components/post-preview

// Pagination
include ../../components/paginator
