//- Mixins:
//- bemto mixin for Jade and BEM magic
include ../helpers/mixins

//- Common used mixin-blocks
include ../components/blocks

:verbatim
	---
	layout: page
	title: "Archive"
	description: "All publications"
	start_img: "img/page/archive/meta/start.jpg"
	start_blur: true
	end_img: "img/page/archive/meta/end.jpg"
	end_blur: true
	color: light
	regenerate: true
	---

+year-posts()
