:verbatim
	---
	layout: page
	home_img: "img/bg/index-home.jpg"
	end_img: "img/bg/index-end.jpg"
	color: light
	lang_ru: "/"
	lang_ua: "/"
	l-page: true
	pager: true
	---

// Post list
| {% for post in paginator.posts %}
include ../components/post-list
| {% endfor %}

// Pagination
| {% if paginator.total_pages > 1 %}
include ../components/paginator
| {% endif %}
