//- Mixins:
//- bemto mixin for Jade and BEM magic
include ../helpers/mixins

//- Common used mixin-blocks
include ../components/blocks

:verbatim
	---
	layout: page
	start_img: "img/page/index/meta/start.jpg"
	end_img: "img/page/index/meta/end.jpg"
	color: light
	type: page
	regenerate: true
	---

// Post preview list
| {% for post in paginator.posts %}
+post-preview()
	+post-meta()
| {% endfor %}

// Pagination
+paginator()
