:verbatim
	---
	layout: page
	home_img: "img/bg/index-home.jpg"
	end_img: "img/bg/index-end.jpg"
	color: light
	lang_ru: "/"
	lang_ua: "/"
	type: page
	---

// Post preview list
.post-list
	include ../components/post-preview

// Pagination
include ../components/paginator
