---
layout: page
title: "Archive"
description: "All publications"
start_img: "img/bg/archive_start.jpg"
start_blur: true
end_img: "img/bg/archive_end.jpg"
end_blur: true
color: light
regenerate: true
---

{%for post in site.posts %}
{% unless post.next %}
<article class="year-posts">
  <h2 class="year-posts__title">{{ post.date | date: '%Y' }}
  </h2>
  <ul class="year-posts__list">
    {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
  </ul>
</article>
<article class="year-posts">
  <h2 class="year-posts__title">{{ post.date | date: '%Y' }}
  </h2>
  <ul class="year-posts__list">
    {% endif %}
    {% endunless %}
    <li class="year-posts__item"><a href="{{ post.url | prepend: site.baseurl }}" class="year-posts__link">{{ post.title }}</a>
      <time class="year-posts__date">{{ post.date | localize: "%-d %B" }}
      </time>
    </li>{% endfor %}
  </ul>
</article>