//- Navigation for multilingual blogs
mixin languages()
	//- Display this block if we have site languages and current language option is active
	| {% if site.lang_current %}
	+b('ul').languages
		//- Highlight current language if page has alternative languages
		| {% for sitelang in site.langs %}
		| {% if site.lang_current == sitelang[0] and page.langs %}
		+e.item
			+e.link.is-selected {{ sitelang[0] }}
		| {% endif %}
		| {% for pagelang in page.langs %}
		//- Show languages if they are available in pages or posts
		| {% if sitelang[0] == pagelang[0] %}
		+e.item
			+e.link(href="{{ sitelang[1] | append: pagelang[1] }}") {{ sitelang[0] }}
		| {% endif %}
		| {% endfor %}
		| {% endfor %}
	| {% endif %}
