//- This is a completions for common used blocks that were turned into mixins
//- with ability to add some modifiers

include _main-header
include _nav
include _hgroup
include _languages

include _page-header
include _year-posts
include _post-preview
include _post-meta
include _paginator
include _comments

include _end-section_social
include _end-section_share
include _social
include _share

include _main-footer

include _ie-out
