// Footer
footer.main-footer
	.container
		h5
			| Designed and coded by&nbsp;
			a(href='http://orlovmax.com') Maxim Orlov
			|  under&nbsp;
			a(href='http://opensource.org/licenses/MIT', rel='nofollow') MIT
			|  license
			br
			| Copyright © {{ site.url | replace: 'http://', '' }} - {{ site.time | date: '%Y' }}

		p
			| Based on&nbsp;
			a(href='http://jekyllrb.com', rel='nofollow') Jekyll
			| , designed with&nbsp;
			a.inclusion(href='http://orlovmax.com/lab/tools/inclusion') Inclusion
			br
			| Powered by&nbsp;
			a(href='http://gruntjs.com', rel='nofollow') Grunt
			| , hosted on&nbsp;
			a(href='{{ site.home-repo }}', rel='nofollow') Github
