// Navigation
header.main-header
	nav.navbar.js-nav
		ul
			| {% strip %}
			li
				a(href='{{ site.baseurl }}/') Home
			| {% for page in site.pages %}
			| {% if page.menu %}
			li
				a(href='{{ page.url | prepend: site.baseurl }}') {{ page.title }}
			| {% endif %}
			| {% endfor %}
			li
				a(href='http://orlovmax.com') About author
			li
				a(href='https://github.com/website-templates/jekyll-inclusion') Project on github
			| {% endstrip %}
	.hgroup
		a.js-navtoggle(href='#') Menu
		// Navigation for multilingual blogs
		//- ul
		//- 	| {% if page.lang_ua or page.lang_ru%}
		//- 	li
		//- 		a.is-selected en
		//- 	| {% endif %}
		//- 	| {% if page.lang_ua %}
		//- 	li
		//- 		a(href="{{ page.lang_ua | prepend: site.baseurl | prepend: site.lang_ua }}") ua
		//- 	| {% endif %}
		//- 	| {% if page.lang_ru %}
		//- 	li
		//- 		a(href="{{ page.lang_ru | prepend: site.baseurl | prepend: site.lang_ru}}") ru
		//- 	| {% endif %}
