| {% if page.type == 'page' %}
header.page-header(style="background-image: url('{{ site.baseurl }}/{% if page.header_img %}{{ page.header_img }}{% else %}{{ site.header_img }}{% endif %}')")
	.overlay
		.container
			h1.page-header__title(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
			h2.page-header__descr(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}
			a(class="icon icon_down {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} page-header__icon js-anchor", href='#content', title='Let`s go!') Let`s go!
| {% else %}
header.post-header(style="background-image: url('{{ site.baseurl }}/{% if page.header_img %}{{ page.header_img }}{% else %}{{ site.header_img }}{% endif %}')")
	.overlay
		.container
			h1.post-header__title(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| {{ page.title }}
			| {% if page.description %}
			h2.post-header__descr(style="{% if page.color == 'dark' %}color: #2b2b2b{% elsif page.color == 'light' %}color: #efefef{% else %}{{ page.color }}{% endif %}")
				| {{ page.description }}
			| {% endif %}
			a(class="icon icon_down {% if page.color == 'dark' %}icon_dark{% elsif page.color == 'light' %}icon_light{% endif %} post-header__icon js-anchor", href='#content', title='Let`s go!') Let`s go!
| {% endif %}
