| {% if page.type == 'page' %}
| {% if paginator.total_pages > 1 %}
nav.pager
	ul
		| {% if paginator.previous_page %}
		li.pager__item.pager__item_next
			a.pager__link(href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}") {{site.pager.page-next}}
		| {% endif %}

		| {% if paginator.next_page %}
		li.pager__item.pager__item_previous
			a.pager__link(href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}") {{site.pager.page-prev}}
		| {% endif %}
| {% endif %}
| {% endif %}

| {% if page.type == 'taxonomy' %}
| {% if paginator.total_pages > 1 %}
nav.pager
	ul
		| {% if paginator.previous_page %}
		| {% if paginator.previous_page == 1 %}
		li.pager__item.pager__item_next
			a.pager__link(href="{{ page.base | prepend: site.baseurl | replace: '//', '/' }}") {{site.pager.page-next}}
		| {% else %}
		li.pager__item.pager__item_next
			a.pager__link(href="{{ paginator.previous_page | prepend: page.slug | prepend: page.base | prepend: site.baseurl | replace: '//', '/' }}") {{site.pager.page-next}}
		| {% endif %}
		| {% endif %}

		| {% if paginator.next_page %}
		| {% if paginator.next_page == 1 %}
		li.pager__item.pager__item_previous
			a.pager__link(href="{{ page.base | prepend: site.baseurl | replace: '//', '/' }}") {{site.pager.page-prev}}
		| {% else %}
		li.pager__item.pager__item_previous
			a.pager__link(href="{{ paginator.next_page | prepend: page.slug | prepend: page.base | prepend: site.baseurl | replace: '//', '/' }}") {{site.pager.page-prev}}
		| {% endif %}
		| {% endif %}
| {% endif %}
| {% endif %}

| {% if page.type == 'post' %}
nav.pager
	ul
		| {% if page.previous.url %}
		li.pager__item.pager__item_previous
			a.pager__link(href="{{page.previous.url | prepend: site.baseurl | replace: '//', '/'}}", title='{{page.previous.title}}') {{site.pager.post-prev}}
		| {% endif %}

		| {% if page.next.url %}
		li.pager__item.pager__item_next
			a.pager__link(href="{{page.next.url | prepend: site.baseurl | replace: '//', '/'}}", title='{{page.next.title}}') {{site.pager.post-next}}
		| {% endif %}
| {% endif %}
