// Meta information: authorship, publication date, tags, category
p.post__meta
	p.post__meta-autorship

		// Check if post is translation and if so - use extended autorsip info
		| {% if page.translator %}
		| Author:&nbsp;
		span.post__meta-author {{ page.author }}
		| , translator:&nbsp;
		span.post__meta-translator {{ page.translator }}
		br
		| Source:&nbsp;
		a.post__meta-source(href="{{ page.source-link }}") {{ page.source }}

		// Else use short autorsip info
		| {% else %}
		| Author:&nbsp;
		span.post__meta-author {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
		| {% endif %}

		// Publication date
		| , published:&nbsp;
		time.post__meta-date(datetime="{{ page.date | date: '%Y-%m-%d' }}") {{ page.date | date: "%B %-d, %Y" }}

	// Checking for post tags and show them
	| {% if page.tags %}
	p.post__meta-tags
		| Tags:&nbsp;
		| {% for tag in page.tags %}
		a.post__meta-tag(href="{{ site.tags.url | prepend: site.baseurl }}{{ tag | replace:' ','-' }}/") {{ tag }}
		| {% unless forloop.last %}, {% endunless %}
		| {% endfor %}
	| {% endif %}

	// Checking for post category and show it
	| {% if page.category %}
	p.post__meta-category
		| Category:&nbsp;
		| {% for cat in page.category %}
		a.post__meta-cat(href="{{ site.categories.url | prepend: site.baseurl }}{{ cat | replace:' ','-' }}/") {{ cat }}
		| {% unless forloop.last %}, {% endunless %}
		| {% endfor %}
	| {% endif %}
hr.post-divider
