<!-- build:js {{ '/js/vendor/vendor.min.js' | prepend: site.baseurl }} -->
script(src="{{ '/js/vendor/vendor.js' | prepend: site.baseurl }}")
<!-- /build -->

<!-- build:js {{ '/js/assembled.min.js' | prepend: site.baseurl }} -->
script(src="{{ '/js/assembled.js' | prepend: site.baseurl }}")
<!-- /build -->
