link(rel="shortcut icon", href="{{ site.baseurl | append: '/' | append: 'favicon.ico' | replace: '//', '/' }}")
link(rel="shortcut icon", href="{{ site.baseurl | append: '/' | append: 'img/ico/favicon.png' | replace: '//', '/' }}", type="image/x-icon")
link(rel="apple-touch-icon-precomposed", sizes="144x144", href="{{ site.baseurl | append: '/' | append: 'img/ico/apple-touch-icon-144x144-precomposed.png' | replace: '//', '/' }}")
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="{{ site.baseurl | append: '/' | append: 'img/ico/apple-touch-icon-114x114-precomposed.png' | replace: '//', '/' }}")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="{{ site.baseurl | append: '/' | append: 'img/ico/apple-touch-icon-72x72-precomposed.png' | replace: '//', '/' }}")
link(rel="apple-touch-icon-precomposed", href="{{ site.baseurl | append: '/' | append: 'img/ico/apple-touch-icon-precomposed.png' | replace: '//', '/' }}")

// OpenSans and OpenSans Condensed from Google cdn
link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800|Open+Sans+Condensed:300&subset=latin,cyrillic', rel='stylesheet', type='text/css')

// Main stylesheet
<!-- build:css {{ site.baseurl | append: '/' | append: 'css/screen.min.css' | replace: '//', '/' }} -->
link(rel="stylesheet", href="{{ site.baseurl | append: '/' | append: 'css/screen.css' | replace: '//', '/' }}")
<!-- /build -->

// Browser update screen styles
<!-- build:remove -->
<!--[if lt IE 9]><link rel="stylesheet" href="{{ site.baseurl | append: '/' | append: 'css/ie-out_light.css' | replace: '//', '/' }}"><![endif]-->
<!-- /build -->

<!--[if lt IE 9]><link rel="stylesheet" href="{{ site.baseurl | append: '/' | append: 'css/ie-out_light.min.css' | replace: '//', '/' }}"><![endif]-->

// CSS3 media queries and HTML5 tags support for old IE
<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script><script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><![endif]-->
<!-- Or you can use these two scripts from local folder, dont forget for conditional comments for old IE
<script src="{{ site.baseurl | append: '/' | append: 'js/ie/ie.min.js' | replace: '//', '/' }}"></script> -->

// Page refresh script for live coding
<!-- build:remove -->
script(src="{{ site.baseurl | append: '/' | append: 'js/live.js' | replace: '//', '/' }}")
<!-- /build -->
